In [1]:
import sqlite3
import pandas as pd
import surprise
import numpy as np
import os

from sqlalchemy import create_engine
import pymysql

## 데이터베이스 연결

In [2]:
db_connection_str = 'mysql+pymysql://test:rot123456789!!@k02b2031.p.ssafy.io:3306/rot'
db_connection = create_engine(db_connection_str)
conn = db_connection.connect()

In [5]:
# # clonse DB connection
# db_connection_str = 'mysql+pymysql://root:ssafy@localhost/test'
# db_connection = create_engine(db_connection_str)
# conn = db_connection.connect()
# contract = pd.read_sql("SELECT * from contract", con=conn)
around = pd.read_sql("SELECT * from around", con=conn)
favorite = pd.read_sql("SELECT * from favorite", con=conn)
FI = pd.read_sql("SELECT * from interest", con=conn)
FU = pd.read_sql("SELECT * from user", con=conn)
conn.close()

# 가상 유저 , 평점 데이터 넣기

In [6]:
img="https://k.kakaocdn.net/dn/bEU7RF/btqErMqs38t/IPYskkYFsyNZFYUDVg8ML0/img_110x110.jpg"

In [7]:
from random import *
import datetime

In [8]:
size = 2000

## 가상 User를 만들기 위한 함수,,,

In [9]:
fake_users = []
for i in range(size):
    t = [i,datetime.datetime.now(),datetime.datetime.now(),None,"HongjuFriend"+str(i),img]
    fake_users.append(t)
    # num,created_at,updated_at,auth,nickname, picture

In [10]:
FU = pd.DataFrame(data=fake_users,columns=['num','created_at','updated_at','auth','nickname','picture'])

## 가상 interest를 만들기 위한 함수,,,

In [11]:
#t = around[around['address'].str.contains('대전광역시 서구')]
t = around.copy()
t['sd']=t['address'].str.split(' ').str[0]
t['sgg']=t['address'].str.split(' ').str[1]

def gett(row):
    if row['sd']=='세종특별자치시':
        return row['sd']
    else:
        return row['sd']+" "+row['sgg']
t['hap'] = t.apply(gett,axis=1)

uniq_list = list(t['hap'].unique())

len(uniq_list)

227

In [12]:
key={1:"교통",2:"마트/편의점",3:"교육시설",4:"의료시설",5:"음식점/카페",6:"문화시설"}
def getBirth():
    return randint(1960,2011)
def getCat():
    b=[False]*7
    idx=0
    re = []
    while(idx<4):
        r = randint(1,6)
        if b[r] is True:
            continue
        else:
            b[r]=True
            re.append(key[r])
            idx+=1
    return re[0],re[1],re[2]
    pass
def getGender():
    r = randint(0,1)
    if r==1:
        return "여자"
    else:
        return "남자"
    pass
def getAddr():
    addr = uniq_list[randint(0,226)]
    if addr.split(" ")[0]=='세종특별자치시':
        return addr.split(" ")[0], None
    else:
        return addr.split(" ")[0], addr.split(" ")[1]

In [13]:
fake_interests = []
for i in range(size):
    sd,sgg = getAddr()
    f,s,t = getCat()
    t = [getBirth(),f,s,t,getGender(),sd,sgg,i]
    fake_interests.append(t)

In [14]:
FI = pd.DataFrame(data=fake_interests,columns=['birth','first','second','third','gender','sd','sgg','user_num'])
FI.head()

   birth   first  second   third gender    sd  sgg  user_num
0   2001  마트/편의점    문화시설  음식점/카페     남자  전라북도  고창군         0
1   1992    문화시설  마트/편의점    교육시설     여자  전라북도  군산시         1
2   1994  마트/편의점    교육시설    의료시설     여자  경상남도  함안군         2
3   1974    의료시설    문화시설  마트/편의점     여자  전라남도  목포시         3
4   1972    의료시설  음식점/카페  마트/편의점     여자  경상북도  영덕군         4

## 가상 Favorite 만들기 위한 함수,,,

In [15]:
def gettA(row):
    try:
        if row['sd']=='세종특별자치시':
            return row['sd']
        else:
            return row['sd']+" "+row['sgg']
    except:
        print(row['sd']+","+row['sgg'])
FI['hap'] = FI.apply(gettA,axis=1)
FI.head(2)

   birth   first  second   third gender    sd  sgg  user_num       hap
0   2001  마트/편의점    문화시설  음식점/카페     남자  전라북도  고창군         0  전라북도 고창군
1   1992    문화시설  마트/편의점    교육시설     여자  전라북도  군산시         1  전라북도 군산시

In [16]:
columns = ['around','user','score']
scores=[1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,2,3,3,4,2,3,3,4]

In [17]:
def getAround(sd_list):
    r_idx = randint(1,len(sd_list)-1)
    target = sd_list[r_idx]
    return target

In [18]:
fake_favorites = []
for i in range(size):
    sd_list = list(around[around['address'].str.contains(FI[FI['user_num']==i]['sd'].iloc[0])]['around_id'])
    times = randint(40,160)
    for t in range(times):
        tmp = [getAround(sd_list),i,scores[randint(0,len(scores)-1)]]
        fake_favorites.append(tmp)
for i in range(size):
    sd_list = list(around[around['address'].str.contains(FI[FI['user_num']==i]['hap'].iloc[0])]['around_id'])
    times = randint(2,40)
    for t in range(times):
        tmp = [getAround(sd_list),i,scores[randint(0,len(scores)-1)]]
        fake_favorites.append(tmp)

In [19]:
FF = pd.DataFrame(data=fake_favorites,columns=columns)

In [20]:
FF.shape

(243091, 3)

In [21]:
FF['score'].value_counts()

3    74099
4    53187
2    52700
1    31742
5    31363
Name: score, dtype: int64

In [22]:
# around, user 중복데이터 확인 체크용
# FF[FF.duplicated(['around','user'])]
# FF[((FF['around']==54808) & (FF['user']==173))]

In [23]:
FF.drop_duplicates(['around','user'],inplace=True)

In [24]:
FF['around'].value_counts()

38111    47
37863    47
37945    45
38076    44
38001    43
         ..
29030     1
24932     1
4498      1
10645     1
30551     1
Name: around, Length: 37290, dtype: int64

In [25]:
FF.shape

(221170, 3)

In [26]:
FF.head(1)

   around  user  score
0   38270     0      3

In [27]:
FF.rename(columns={'around':'around_around_id','user':'user_num'}, inplace=True)

In [ ]:
FI.drop(columns=['hap'], inplace=True)

## 가상 데이터를 데이터베이스에 넣자 !

In [ ]:
FU.to_sql(name='user', con=db_connection, if_exists='append',index=False)

In [30]:
FI.to_sql(name='interest', con=db_connection, if_exists='append',index=False)

In [32]:
FF.to_sql(name='favorite', con=db_connection, if_exists='append',index=False)